TicketingWithClasses.csproj
.vscode/launch.json
.vscode/tasks.json
obj/project.assets.json
obj/project.nuget.cache
obj/TicketingWithClasses.csproj.nuget.dgspec.json
obj/TicketingWithClasses.csproj.nuget.g.props
obj/TicketingWithClasses.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/TicketingWithClasses.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/TicketingWithClasses.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/TicketingWithClasses.assets.cache
obj/Debug/netcoreapp3.1/TicketingWithClasses.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/TicketingWithClasses.deps.json
bin/Debug/netcoreapp3.1/TicketingWithClasses.dll
bin/Debug/netcoreapp3.1/TicketingWithClasses.exe
bin/Debug/netcoreapp3.1/TicketingWithClasses.pdb
bin/Debug/netcoreapp3.1/TicketingWithClasses.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/TicketingWithClasses.runtimeconfig.json
obj/Debug/netcoreapp3.1/TicketingWithClasses.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/TicketingWithClasses.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/TicketingWithClasses.dll
obj/Debug/netcoreapp3.1/TicketingWithClasses.exe
obj/Debug/netcoreapp3.1/TicketingWithClasses.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/TicketingWithClasses.pdb
